@model Todo.web.Models.TodoViewModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h3>Êtes-vous sûr de supprimer cette to-do ?</h3>
<div>
    <h4>To-do :</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
    
    <form asp-action="SupprimerTodo">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Id" class="form-control" hidden />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Name" class="form-control" hidden/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Description" class="form-control" hidden/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="EndDate" class="form-control" hidden/>
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="CreatedDate" class="form-control" hidden />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Modifier" class="btn btn-primary" hidden/>
        </div>
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="ListeTodo">Retour à la liste</a>
    </form>
</div>
